.chq-bdg {
  background: none;
  border: 1px solid $color-border;
  border-radius: 17px;
  color: $color-primary-font;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  outline: none;
  padding: 5px 12px;
  text-decoration: none;

  &-pr {
    border: 1px solid $color-primary-blue;
    color: $color-primary-blue;
  }
}
