.chq-btn {
  background-color: $color-primary-green;
  border: $color-primary-green solid 1px;
  border-radius: 5px;
  color: $color-white;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
  outline: 0;
  padding: 5px 10px;

  svg {
    height: 18px;
    margin: 0 0 -3px -3px;
  }

  path {
    fill: $color-white;
  }

  &:focus {
    background-color: $color-primary-green;
    color: $color-white;
    text-decoration: none;
  }

  &:hover {
    background-color: $color-lightened-green;
    border: $color-lightened-green solid 2px;
    color: $color-white;
    padding: 4px 9px;
    text-decoration: none;

    path {
      fill: $color-white;
    }
  }

  &:active {
    background-color: $color-darkened-green;
    border: $color-darkened-green solid 2px;
    color: $color-white;
    padding: 4px 9px;

    path {
      fill: $color-white;
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .6;
  }

  &-iv {
    background-color: $color-white;
    color: $color-primary-green;

    path {
      fill: $color-primary-green;
    }

    &:focus {
      background-color: $color-white;
      color: $color-primary-green;
    }

    &:hover {
      background-color: $color-white;
      color: $color-lightened-green;

      path {
        fill: $color-lightened-green;
      }
    }

    &:active {
      background-color: $color-white;
      color: $color-darkened-green;

      path {
        fill: $color-darkened-green;
      }
    }
  }

  &-pr {
    padding: 9px 13px;

    &:hover,
    &:active {
      padding: 8px 12px;
    }
  }

  &-sm {
    font-size: .8em;
    padding: 2px 7px;

    &:hover,
    &:active {
      padding: 1px 6px;
    }

    svg {
      height: 15px;
    }
  }

  &-ld {
    svg {
      animation: chqSpin 1s linear infinite;
    }
  }

  &-dg {
    background-color: $color-primary-red;
    border-color: $color-primary-red;
    color: $color-white;

    &:hover,
    &:focus {
      background-color: $color-primary-red;
      border-color: $color-primary-red;
    }
  }
}
