.chq-cal {
  background-color: $color-white;
  border: $color-border solid 1px;
  border-radius: 5px;

  &--head {
    text-align: center;

    &--ct {
      border: 4px solid transparent;
      height: 0;
      left: calc(50% - 2px);
      position: absolute;
      top: calc(50% - 3px);
      vertical-align: middle;
      width: 0;
    }

    &--prev,
    &--next {
      border: 0;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1em;
      padding: 10px;
      position: relative;
      width: 14.285%;

      &:hover {
        background-color: $color-border;
      }

      &:focus {
        outline: 0;
      }
    }

    &--prev {
      float: left;

      .chq-cal--head--ct {
        border-left: 0;
        border-right: 4px solid $color-primary-light-font;
      }
    }

    &--next {
      float: right;

      .chq-cal--head--ct {
        border-left: 4px solid $color-primary-light-font;
        border-right: 0;
      }
    }

    &--lbl {
      flex-basis: 80%;
      padding: 10px;
    }
  }

  &--months {
    border-bottom: $color-border solid 1px;
    clear: both;
    display: flex;
    font-size: .9em;

    strong {
      flex-basis: 14.285%;
      text-align: center;
    }
  }

  &--days {
    display: flex;
    flex-wrap: wrap;
  }

  .chq-cal--day {
    border-radius: 5px;
    color: $color-primary-font;
    cursor: pointer;
    flex-basis: 14.285%;
    font-size: .8em;
    padding: 8px;

    &:hover {
      background-color: $color-border;
    }

    &:focus {
      outline: 0;
    }

    &-act {
      background-color: $color-link-blue;
      color: $color-white;

      &:hover {
        background-color: $color-link-blue;
      }
    }

    &-out {
      color: lighten($color-primary-light-font, 25%);
    }
  }
}
