.chq-cmk {
  background: none;
  border: 0;
  color: inherit;
  font-size: 1em;
  outline: none;
  padding: 0;
  text-align: left;

  svg {
    border: $color-primary-green solid 1px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 $color-primary-green;
    display: inline-block;
    height: 1.2em;
    margin-right: 1em;
    overflow: visible;
    stroke: $color-white;
    stroke-miterlimit: 10;
    stroke-width: 2;
    vertical-align: text-top;
    width: 1.2em;
  }

  circle {
    fill: none;
    stroke: $color-primary-green;
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-miterlimit: 10;
    stroke-width: 2;
  }

  path {
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    transform-origin: 50% 50%;
  }

  &-cl {
    cursor: pointer;
  }

  &-ck {
    svg {
      animation: chqCmkFill .2s ease-in-out .2s forwards, chqCmkScale .15s ease-in-out .45s both;
      border: 0;
    }

    circle {
      animation: chqCmkStroke .3s cubic-bezier(.65, 0, .45, 1) forwards;
    }

    path {
      animation: chqCmkStroke .15s cubic-bezier(.65, 0, .45, 1) .4s forwards;
    }

    &:disabled {
      $light-green: lighten($color-primary-green, 10%);

      svg {
        animation: none;
        box-shadow: inset 0 0 0 30px $light-green;
      }

      circle {
        stroke: $light-green;
      }
    }
  }

  &:disabled {
    color: $color-secondary-font;
    cursor: not-allowed;
  }
}

@keyframes chqCmkFill {
  from {
    box-shadow: 0;
  }

  to {
    box-shadow: inset 0 0 0 30px $color-primary-green;
  }
}

@keyframes chqCmkScale {
  0%,
  100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes chqCmkStroke {
  100% {
    stroke-dashoffset: 0;
  }
}
