.chq-cir {
  height: 40px;
  margin: 4px 10px 0 0;
  width: 40px;

  &--sm,
  &--yl {
    fill: lighten($color-primary-yellow, 5%);
  }

  &--gr {
    fill: lighten($color-primary-green, 5%);
  }

  &--bl {
    fill: lighten($color-primary-blue, 5%);
  }

  &:hover {
    .chq-cir {
      &--sm {
        animation: chqCirSm;
        animation-duration: .8s;
      }

      &--yl {
        animation: chqCirYl;
        animation-delay: .1s;
        animation-duration: .8s;
      }

      &--gr {
        animation: chqCirGr;
        animation-delay: .2s;
        animation-duration: .8s;
      }

      &--bl {
        animation: chqCirBl;
        animation-delay: .3s;
        animation-duration: .8s;
      }
    }
  }
}

@keyframes chqCirSm {
  0% {
    animation-timing-function: ease-in;
    transform: scale(1) translate3d(0, 0, 0);
  }

  20% {
    animation-timing-function: ease-out;
    transform: scale(1.15) translate3d(-6%, -2%, 0);
  }

  40% {
    animation-timing-function: ease-in;
    transform: scale(1) translate3d(0, 0, 0);
  }

  70% {
    animation-timing-function: ease-out;
    transform: scale(1.075) translate3d(-3%, -2%, 0);
  }

  100% {
    transform: scale(1) translate3d(0, 0, 0);
  }
}

@keyframes chqCirYl {
  0% {
    animation-timing-function: ease-in;
    transform: scale(1) translate3d(0, 0, 0);
  }

  20% {
    animation-timing-function: ease-out;
    transform: scale(1.1) translate3d(-3%, -2%, 0);
  }

  40% {
    animation-timing-function: ease-in;
    transform: scale(1) translate3d(0, 0, 0);
  }

  70% {
    animation-timing-function: ease-out;
    transform: scale(1.075) translate3d(-2%, -1%, 0);
  }

  100% {
    transform: scale(1) translate3d(0, 0, 0);
  }
}

@keyframes chqCirGr {
  0% {
    animation-timing-function: ease-in;
    transform: scale(1) translate3d(0, 0, 0);
  }

  20% {
    animation-timing-function: ease-out;
    transform: scale(1.1) translate3d(-6%, -2%, 0);
  }

  40% {
    animation-timing-function: ease-in;
    transform: scale(1) translate3d(0, 0, 0);
  }

  70% {
    animation-timing-function: ease-out;
    transform: scale(1.075) translate3d(-5%, 0, 0);
  }

  100% {
    transform: scale(1) translate3d(0, 0, 0);
  }
}

@keyframes chqCirBl {
  0% {
    animation-timing-function: ease-in;
    transform: scale(1) translate3d(0, 0, 0);
  }

  20% {
    animation-timing-function: ease-out;
    transform: scale(1.15) translate3d(-4%, -2%, 0);
  }

  40% {
    animation-timing-function: ease-in;
    transform: scale(1) translate3d(0, 0, 0);
  }

  70% {
    animation-timing-function: ease-out;
    transform: scale(1.075) translate3d(-3%, -1%, 0);
  }

  100% {
    transform: scale(1) translate3d(0, 0, 0);
  }
}
