.chq-cnf {
  text-align: center;

  .chq-pan--bd {
    padding: 30px;
  }

  .chq-pan--ft {
    display: flex;

    & > div {
      flex-basis: 50%;
    }

    .chq-btn-iv {
      margin-top: 3px;
    }

    &--vertical {
      flex-direction: column;

      &-btn {
        display: flex;
        justify-content: space-around;
      }
    }
  }
}
