@import '../common';

.chq-fdi {
  background-color: $color-white;
  border-radius: 3px;
  box-shadow: .5px .5px 3px $color-box-shadow;
  margin-bottom: 15px;
  min-height: 100px;

  &--bd {
    padding: 15px;
  }

  &--ft {
    border-top: 1px solid $color-border;
    padding: 15px;
  }
}
