.chq-ffd {
  border: 0;
  display: block;
  font-weight: normal;
  padding: 0;
  position: relative;

  & + & {
    margin-top: 20px;
  }

  & + .chq-btn {
    &[type='submit'] {
      margin-top: 20px;
    }
  }

  .chq-cmk {
    color: $color-primary-light-font;
  }

  &--lb {
    border-bottom: 0;
    color: $color-primary-light-font;
    display: block;
    font-size: 1em;
    margin-bottom: 5px;
  }

  &--rq {
    color: $color-primary-red;
    font-size: .8em;
    margin: 0;
  }

  .chq-ffd--ctrl {
    border: 0;
    border-bottom: 2px solid $color-border;
    border-radius: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    color: $color-primary-font;
    display: block;
    font-size: 1em;
    font-weight: $font-weight-light;
    margin-bottom: 5px;
    min-height: 42px;
    outline: none;
    padding: 6px 12px;
    text-align: left;
    transition: border-bottom .3s;
    width: 100%;

    &--validation {
      bottom: 10px;
      color: $color-primary-light-font;
      position: absolute;
      right: 12px;
    }

    &--with-validation {
      padding-right: 70px;
    }

    &-text {
      min-height: 6em;
      resize: vertical;
    }

    &-fc,
    &:focus {
      border-bottom: 2px solid $color-primary-green;
    }

    &-fc,
    &:focus,
    &:hover {
      box-shadow: inset 0 1px 1px $color-form-inset;
    }

    &:disabled {
      color: $color-secondary-font;
      cursor: not-allowed;
    }
  }

  &--ad {
    color: $color-secondary-font;
    font-size: 1.2em;
    font-weight: $font-weight-light;
    padding: 6px;
    position: absolute;

    & + .chq-ffd--ctrl {
      padding-left: 25px;
    }
  }

  &--radio {
    cursor: pointer;
    display: block;
    font-weight: $font-weight-light;

    &-check {
      border: 2px solid $color-primary-light-font;
      border-radius: 1.5em;
      display: inline-block;
      height: 1.5em;
      margin: 0 1em 0 0;
      position: relative;
      top: 5px;
      width: 1.5em;

      &::before {
        background-color: transparent;
        border-radius: 1em;
        content: ' ';
        height: 1em;
        left: calc(50% - .5em);
        position: absolute;
        top: calc(50% - .5em);
        transition: background-color .1s ease-in-out;
        width: 1em;
      }
    }

    input {
      display: none;

      &:checked + .chq-ffd--radio-check {
        &::before {
          background-color: $color-primary-light-font;
        }
      }
    }
  }
}
