$spacing: 8px;

@mixin grid-size($size) {
  @for $col from 1 through 12 {
    &--#{$size}-#{$col} {
      display: block;
      flex-basis: floor($col / 12 * 1000000%) / 10000;
    }
  }

  &--#{$size}-hid {
    display: none;
  }
}

.chq-grid {
  align-content: stretch;
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: -8px;

  &--item {
    flex-basis: 100%;
    padding: 8px;
  }

  @include grid-size('xs');

  @media (min-width: 768px) {
    @include grid-size('sm');
  }

  @media (min-width: 992px) {
    @include grid-size('md');
  }

  @media (min-width: 1200px) {
    @include grid-size('lg');
  }

  @media (min-width: 1400px) {
    @include grid-size('xl');
  }
}
