.chq-ffd--im {
  background-color: $color-white;
  border: $color-border solid 1px;
  cursor: pointer;
  margin-bottom: 5px;
  min-height: 200px;
  position: relative;
  text-align: center;

  &-drag,
  &:focus,
  &:hover {
    box-shadow: inset 0 1px 1px $color-form-inset;
  }

  .chq-ipv {
    position: absolute;
  }

  &--ph {
    margin-top: 30px;
    position: relative;

    svg {
      height: 80px;
      width: 80px;
    }

    path {
      fill: $color-border;
    }
  }

  &--bt {
    background-color: $image-upload;
    border-radius: 4px;
    color: $color-white;
    display: inline-block;
    margin: 30px auto;
    padding: 8px 26px;
    position: relative;
    transition: background-color .3s;

    svg {
      vertical-align: bottom;
    }

    path {
      fill: $color-white;
    }
  }

  &--bt-bg {
    align-items: center;
    background-color: $image-upload;
    border-radius: 4px;
    color: $color-white;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    padding: 8px 26px;
    position: relative;
    transition: background-color .3s;
    width: fit-content;

    svg {
      height: 40px;
      margin-bottom: 10px;
      width: 40px;
    }

    path {
      fill: $color-white;
    }
  }

  &--prog {
    bottom: 0;
    height: 5px;
    left: 0;
    position: absolute;
    width: 100%;

    > div {
      background-color: $color-primary-blue;
      height: 100%;
      transition: background-color .25s, width .25s;
      width: 0%;
    }

    &[aria-valuenow='100'] {
      & > div {
        background-color: $color-primary-green;
      }
    }
  }

  &:hover {
    .chq-ffd--im--bt {
      background-color: $image-upload-hover;
    }
  }

  input {
    &[type='file'] {
      border: 0;
      height: 0;
      padding: 0;
      visibility: hidden;
      width: 0;
    }
  }
}

.chq-ffd--bg-img {
  height: 100%;
  position: absolute;
  width: 100%;

  &-container {
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  &--img {
    background-size: cover;
    filter: blur(2px);
    height: 10%;
    left: 50%;
    opacity: .3;
    position: relative;
    top: 50%;
    transform: scale(11);
    width: 10%;
  }

  .chq-ffd {
    &--im {
      background-color: transparent;
      border: 0;
      border-radius: 6px;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;

      &--bt-bg {
        left: 0;
        position: absolute;
        right: 0;
      }
    }
  }
}
