.chq-ffd--im {
  border: $color-border solid 1px;
  cursor: pointer;
  margin-bottom: 5px;
  min-height: 200px;
  position: relative;
  text-align: center;

  .chq-ipv {
    position: absolute;
  }

  &--ph {
    margin-top: 30px;

    svg {
      height: 80px;
      width: 80px;
    }

    path {
      fill: $color-border;
    }
  }

  &--bt {
    background-color: $image-upload;
    border-radius: 4px;
    color: $color-white;
    display: inline-block;
    margin: 30px auto;
    padding: 8px 26px;
    position: relative;
    transition: background-color .3s;

    svg {
      vertical-align: bottom;
    }

    path {
      fill: $color-white;
    }
  }

  &--prog {
    bottom: 0;
    height: 5px;
    left: 0;
    position: absolute;
    width: 100%;

    > div {
      background-color: $color-primary-blue;
      height: 100%;
      transition: background-color .25s, width .25s;
      width: 0%;

      &[data-value='100'] {
        background-color: $color-primary-green;
      }
    }
  }

  &:hover {
    .chq-ffd--im--bt {
      background-color: $image-upload-hover;
    }
  }

  input {
    &[type='file'] {
      border: 0;
      height: 0;
      padding: 0;
      visibility: hidden;
      width: 0;
    }
  }
}
