.chq-mif {
  td {
    &:first-child {
      height: 100px;
      position: relative;
      width: 100px;

      img {
        position: absolute;
      }
    }

    &:last-child {
      max-width: 300px;

      div {
        float: right;
      }
    }

    @media (max-width: 600px) {
      &:not(:first-child) {
        &:not(:last-child) {
          display: none;
        }
      }
    }
  }
}
