@import '../common';

.chq-nav {
  background-color: $color-dark-blue;
  box-shadow: 0 2px 3px $color-box-shadow;
  color: $color-background;
  min-height: 50px;
  padding: 5px 20px 0;
  position: fixed;
  top: 0;
  transition: top .35s;
  width: 100%;
  z-index: 1;

  &-hd {
    box-shadow: none;
    top: -55px;
  }
}
