.chq-pag {
  margin: 20px 0;
  text-align: center;

  &--bn {
    background: $color-white;
    border: $pagination-border solid 1px;
    color: $color-link-blue;
    cursor: pointer;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.4;
    margin: 0 3px;
    outline: none;
    padding: 6px 12px;

    &:first-child {
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;
    }

    &:last-child {
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
    }

    &:hover {
      background-color: $pagination-hover;
      color: $color-dark-blue;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: .6;

      &:hover {
        background-color: $color-white;
        color: $color-link-blue;
      }
    }

    &-ac {
      background-color: $color-primary-blue;
      border-color: $color-primary-blue;
      color: $color-white;

      &:hover {
        background-color: $color-primary-blue;
        color: $color-white;
      }
    }
  }

  &--sp {
    padding: 6px;
    vertical-align: text-bottom;
  }
}
