.chq-pan {
  background-color: $color-white;
  border-radius: 5px;
  box-shadow: .5px .5px 3px $color-box-shadow;
  box-sizing: border-box;
  margin-bottom: 20px;

  &--hd {
    padding: 15px 15px 0;

    h2 {
      font-size: 1.2em;
      font-weight: $font-weight-light;
      margin: 0;
    }

    hr {
      border: 0;
      border-top: 1px solid $panel-hr-border;
      margin: 12px 0 0;
    }

    &-pr {
      background-color: $color-primary-blue;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      color: $color-white;

      h2 {
        font-size: 1em;
        font-weight: $font-weight-normal;
      }

      hr {
        border: 0;
      }
    }
  }

  &--bd {
    font-weight: $font-weight-light;
    padding: 12px 15px 15px;

    * {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &--ft {
    background-color: $color-background;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px solid $color-border;
    padding: 10px 15px;
  }
}
