@import '../common';

.chq-pbn {
  appearance: none;
  background: inherit;
  border: 0;
  color: $color-link-blue;
  cursor: pointer;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}
