.chq-sbar {
  margin-bottom: 5px;
  position: relative;

  path {
    fill: $color-primary-light-font;
  }

  input {
    background-color: $color-background;
    border: 1px solid $color-border;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px $color-form-inset;
    color: $color-primary-font;
    display: block;
    font-size: 1em;
    font-weight: $font-weight-light;
    min-height: 36px;
    outline: none;
    padding: 6px 12px 6px 36px;
    text-align: left;
    transition: border-color 150ms ease-in-out, box-shadow 150ms ease-in-out;
    width: 100%;

    &:focus {
      border-color: $color-primary-blue;
      box-shadow: inset 0 1px 1px $color-form-inset, 0 0 8px $search-bar-shadow;
    }
  }

  &--gls,
  &--spn,
  &--close {
    position: absolute;
    top: calc(50% - 11px);
  }

  &--close {
    right: 9px;

    &:hover {
      cursor: pointer;
    }
  }

  &--gls {
    left: 9px;
  }

  &--spn {
    animation: chqSpin 1s linear infinite;
    right: 9px;
  }
}
