.chq-ffd--sl {
  position: relative;

  &--caret {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid $color-primary-font;
    height: 0;
    position: absolute;
    right: 12px;
    top: 50%;
    transition: transform 200ms;
    vertical-align: middle;
    width: 0;

    &-flip {
      transform: rotate(180deg);
    }
  }

  .option-group {
    align-items: center;
    display: flex;
    margin-top: 5px;

    .chq-bdg {
      margin-top: 0;
    }
  }

  .chq-bdg {
    font-size: .9em;
    margin-left: 5px;
    margin-top: 5px;

    svg {
      height: 10px;
      margin: 0 3px 0 0;
      width: 10px;
    }
  }

  &--place {
    color: $color-secondary-font;
    font-weight: $font-weight-light;
  }

  &--match {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    color: $color-primary-font;
    display: inline-block;
    font-size: 1em;
    font-weight: $font-weight-light;
    margin-top: 5px;
    outline: none;
    padding: 0;
    width: 1px;

    &:focus {
      width: auto;

      & + .chq-ffd--sl--place {
        display: none;
      }
    }
  }

  &--with-icon {
    position: relative;

    .chq-ffd--ctrl {
      padding-left: 45px;
    }
  }

  &--icon {
    max-width: 30px;
    padding: 5px;
    position: absolute;
  }

  &--opts {
    background-color: $color-white;
    border: $color-box-shadow solid 1px;
    box-shadow: 0 6px 12px $color-box-shadow;
    max-height: 200px;
    overflow-y: auto;
    padding: 5px 0;
    position: absolute;
    transform: scale3d(1, 0, 1);
    transform-origin: top center;
    width: 100%;
    z-index: 1;

    &-open,
    &-closed {
      animation: chqSlideDown 150ms forwards;
    }

    &-closed {
      animation-direction: reverse;
    }

    button {
      color: $color-primary-font;
      display: block;
      outline: none;
      padding: 3px 30px;
      position: relative;
      text-align: left;
      width: 100%;

      &:focus,
      &:hover {
        background-color: $color-background;
      }

      &[aria-current='true'] {
        &::before {
          content: '\2713';
          left: .7em;
          position: absolute;
        }
      }
    }

    p {
      margin: 0;
      padding: 3px 30px;
    }

    .chq-pbn {
      align-items: center;
      display: flex;
    }

    .option-icon {
      background-color: $color-link-blue;
      border-radius: 20px;
      color: $color-white;
      height: 14px;
      margin: 4px 5px 4px 0;
      padding: 4px;
      width: 14px;

      path {
        fill: $color-white;
      }
    }

    .option-category {
      color: $color-primary-light-font;
      margin-left: 5px;
    }
  }

  .chq-ffd--ctrl--fixed-value {
    color: transparent;
    text-shadow: 0 0 0 $color-primary-font;

    &:hover {
      cursor: pointer;
    }
  }

  .chq-ffd--ctrl {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding-left: 7px;
  }
}

@keyframes chqSlideDown {
  from {
    transform: scale3d(1, 0, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
