.chq-spn {
  height: 60px;
  margin: 0 auto;
  width: 60px;

  .chq-cir {
    animation: chqChunkRotate 4s linear infinite;
    height: 60px;
    width: 60px;
  }

  .chq-cir--sm {
    display: none;
  }
}
