.chq-spn {
  height: 60px;
  margin: 0 auto;
  width: 60px;

  .chq-cir {
    animation: chqChunkRotate 4s linear infinite;
    height: 60px;
    width: 60px;
  }

  .chq-cir--sm {
    display: none;
  }

  &[aria-hidden='true'] {
    visibility: hidden;
  }
}

@keyframes chqChunkRotate {
  0% {
    transform: rotate(0deg);
  }

  13%,
  33% {
    transform: rotate(240deg);
  }

  47%,
  67% {
    transform: rotate(480deg);
  }

  81%,
  100% {
    transform: rotate(720deg);
  }
}
