@import '../common';

.chq-snv {
  margin-bottom: 15px;

  &--it {
    border-bottom: 0;
    border-radius: 4px;
    color: $color-primary-light-font;
    cursor: pointer;
    padding: 4px 5px;
    text-decoration: none;

    &:hover {
      color: $color-primary-light-font;
      text-decoration: none;
    }

    & + & {
      margin-left: 10px;
    }

    &-active {
      border-bottom: 2px solid $color-primary-green;
      border-radius: 0;
      color: $color-primary-green;

      &:hover {
        color: $color-primary-green;
      }
    }
  }
}
