$color-border: #eaeaea;
$color-link-blue: #6a89af;
$color-primary-blue: #8cb4d6;
$color-primary-green: #79b17d;
$color-primary-font: #5c5f67;
$color-primary-light-font: #9c9fa7;
$color-primary-red: #c14c4c;
$color-secondary-font: #888;

$info-background: #d7e5f1;

$success-background: #dff0d8;
$success-border: #d6e9c6;
$success-font: #3c763d;

$warning-background: #fcf8e3;
$warning-border: #faebcc;
$warning-font: #8a6d3b;
