$color-white: #fff;

$color-background: #f7f7f7;
$color-border: #eaeaea;
$color-box-shadow: rgba(0, 0, 0, .2);
$color-dark-blue: #2c3e4f;
$color-darkened-green: #69a86d;
$color-lightened-green: #89ba8d;
$color-link-blue: #6a89af;
$color-primary-blue: #8cb4d6;
$color-primary-font: #5c5f67;
$color-primary-green: #79b17d;
$color-primary-light-font: #9c9fa7;
$color-primary-red: #c14c4c;
$color-primary-yellow: #ffd24b;
$color-secondary-font: #888;

$font-weight-light: 200;

$info-background: #d7e5f1;

$pagination-border: #ddd;
$pagination-hover: #eee;

$panel-hr-border: #eee;

$success-background: #dff0d8;
$success-border: #d6e9c6;
$success-font: #3c763d;

$warning-background: #fcf8e3;
$warning-border: #faebcc;
$warning-font: #8a6d3b;

@keyframes chqCmkStroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes chqCmkScale {
  0%,
  100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes chqCmkFill {
  100% {
    box-shadow: inset 0 0 0 30px $color-primary-green;
  }
}

@keyframes chqSpin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

@keyframes chqCirSm {
  0% {
    animation-timing-function: ease-in;
    transform: scale(1) translate3d(0, 0, 0);
  }

  20% {
    animation-timing-function: ease-out;
    transform: scale(1.15) translate3d(-6%, -2%, 0);
  }

  40% {
    animation-timing-function: ease-in;
    transform: scale(1) translate3d(0, 0, 0);
  }

  70% {
    animation-timing-function: ease-out;
    transform: scale(1.075) translate3d(-3%, -2%, 0);
  }

  100% {
    transform: scale(1) translate3d(0, 0, 0);
  }
}

@keyframes chqCirYl {
  0% {
    animation-timing-function: ease-in;
    transform: scale(1) translate3d(0, 0, 0);
  }

  20% {
    animation-timing-function: ease-out;
    transform: scale(1.1) translate3d(-3%, -2%, 0);
  }

  40% {
    animation-timing-function: ease-in;
    transform: scale(1) translate3d(0, 0, 0);
  }

  70% {
    animation-timing-function: ease-out;
    transform: scale(1.075) translate3d(-2%, -1%, 0);
  }

  100% {
    transform: scale(1) translate3d(0, 0, 0);
  }
}

@keyframes chqCirGr {
  0% {
    animation-timing-function: ease-in;
    transform: scale(1) translate3d(0, 0, 0);
  }

  20% {
    animation-timing-function: ease-out;
    transform: scale(1.1) translate3d(-6%, -2%, 0);
  }

  40% {
    animation-timing-function: ease-in;
    transform: scale(1) translate3d(0, 0, 0);
  }

  70% {
    animation-timing-function: ease-out;
    transform: scale(1.075) translate3d(-5%, 0, 0);
  }

  100% {
    transform: scale(1) translate3d(0, 0, 0);
  }
}

@keyframes chqCirBl {
  0% {
    animation-timing-function: ease-in;
    transform: scale(1) translate3d(0, 0, 0);
  }

  20% {
    animation-timing-function: ease-out;
    transform: scale(1.15) translate3d(-4%, -2%, 0);
  }

  40% {
    animation-timing-function: ease-in;
    transform: scale(1) translate3d(0, 0, 0);
  }

  70% {
    animation-timing-function: ease-out;
    transform: scale(1.075) translate3d(-3%, -1%, 0);
  }

  100% {
    transform: scale(1) translate3d(0, 0, 0);
  }
}
