$color-link-blue: #6a89af;
$color-secondary-font: #888;
$color-primary-red: #c14c4c;

$success-background: #dff0d8;
$success-border: #d6e9c6;
$success-font: #3c763d;

$warning-background: #fcf8e3;
$warning-border: #faebcc;
$warning-font: #8a6d3b;
